<div class="filterPanel">
    <div class="jqx-fill-state-normal-uuTheme">{{filter1BtnText}}</div>
    <div id="{{filter1BtnId}}" class="filterBtn"></div>
    <div class="jqx-fill-state-normal-uuTheme button-study-finished">{{filter2BtnText}}</div>
    <div id="{{filter2BtnId}}" class="filterBtn"></div>
</div>
<div id="{{id}}">
    <div>
        {{{docks}}}
    </div>
</div>
