<div id="{{id}}">
    <div class="dockHeader {{dockStyle}}">{{title}}</div>
    <div class="dockBody">
        <ul>
            <li>{{resultsTabLabel}}</li>
            <li>{{gotoTabLabel}}</li>
        </ul>
        <div>
            <table class="resultsTable">
                <tr>
                    <td>{{homeworks}}</td>
                    <td>{{homeworkPts}}</td>
                </tr>
                <tr>
                    <td>{{tests}}</td>
                    <td>{{testPts}}</td>
                </tr>
                <tr>
                    <td>{{seminarWork}}</td>
                    <td>{{seminarworkPts}}</td>
                </tr>
                <tr>
                    <td>{{workshop}}</td>
                    <td>{{workshopPts}}</td>
                </tr>
                <tr>
                    <td>{{total}}</td>
                    <td>{{totalPts}}</td>
                </tr>
            </table>
            <div class="resultsChart"></div>

        </div>
        <div>
            <div class="linkTabContent">
                <figure class="courseRun">
                    <a href="https://plus4u.net/ues/sesm?SessFree={{courseRunUes}}" target="_blank">
                        <img src="assets/images/{{courseIco}}" />
                    </a>
                    <figcaption>{{courseRun}}</figcaption>
                </figure>
                <figure class="studentCard">
                    <a href="https://plus4u.net/ues/sesm?SessFree={{studentCardUes}}" target="_blank">
                        <img src="assets/images/{{cardIco}}" />
                    </a>
                    <figcaption>{{courseRunStudentCard}}</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
