@font-face {
    font-family: "Clear Sans";
    src: url('../assets/fonts/clearSans/ClearSans-Regular.ttf');
}

body {
    font-family: "Clear Sans";
}

.jqx-docking-panel-uuTheme {
    margin-left: 0 !important;
    width: 435px !important;
}

.resultsTable {
    margin: 5px;
}

.resultsTable {
    float: right;
    margin: 32px 25px 10px 0;
}

.resultsTable td {
    padding-right: 5px;
}

.resultsTable td:last-of-type {
    text-align: right;
    width: 60px;
}

.resultsTable tr:last-of-type td {
    font-weight: 600;
    border-top: 3px solid black;
}

.resultsChart {
    width: 160px;
    height: 160px;
    margin-left: 20px;
}

.chart-inner-text
{
    fill: #5AA2E7;
    color: #5AA2E7;
    font-size: 30px;
}

/* we cannot hide it in completely, because then chart throws errors in firefox */
.jqx-chart-title-text {
    font-size: 0.01em;
}

rect {
    stroke-width: 0;
}

.linkTabContent figure {
    float: left;
    margin: 30px;
}

.linkTabContent img {
    display: block;
    margin: auto;
}

.jqx-widget-header-uuTheme.courseFinished {
    background-color: #6cbd49;
    border-color: #6CBD49;
}

.dockHeader {
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 5px 8px;
}

.jqx-tabs-title:first-child {
    margin-left: 40px;
}

.filterActive {
    background-color: #79b4ec;
}

.filterPanel {
    padding: 4px;

}

.filterPanel > div {
    float: left;
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
}

.filterPanel > div:first-child {
    margin-left: 2px;
}

.filterPanel .jqx-fill-state-normal-uuTheme {
    border-radius: 3px !important;
    font-weight: 600;
    letter-spacing: 0.5px;
    outline: none;
    padding: 2px 8px 3px 8px;
}

.button-study-finished {
    background-color: #6cbd49;
}

.jqx-tabs-title {
    font-weight: 600;
}

figure.courseRun img {
    margin-top: -5px;
}

.jqx-tabs-content {
    font-family: Clear Sans,Arial,sans-serif;
    font-size: 14px;
}

figcaption {
    font-weight: 600;
    margin-top: 5px;
}

figure.studentCard {
    margin-left: 0;
}

figure.studentCard figcaption {
    margin-top: 8px;
}
